body{

    font-family: sans-serif;

    background-color: black;

    margin:0 auto;

}

.header{

    display:flex;

    justify-content:center; 

    background-color: #ffffff;

}

.header-h1{

    text-transform: capitalize;

}

.container{

    display: flex;

    justify-content: center;

    margin: 0 auto;

    height: auto;

    background-color:#d3d3d3;

}

.post{

    background-color: #ffffff;

    margin: 50px;

    width: 600px;

    height: auto;

}

.post-header{

    display: flex;

    justify-content: center;

    align-items: center;

    height: auto;

    border-bottom:1px solid #d3d3d3;

}

.post-header__h2{

    width: 90%;

    margin-left: 10px;

}

.post-header__date{

    margin-right: 10px;

    width: 10%;

}

.post-photo{

    width: 600px;

    height: 400px;

    margin:0;

}

.post-photo img{

  width: 100%;

  height: 100%;

  object-fit: contain; 

  object-position: center; 

 

}

.post-footer{

    background-color:#ffffff;

    padding: 5px;

    height: auto;

    border-top:1px solid #d3d3d3;

}